<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
      <appSettings>
        <add key="1" value="-----"/>
        <add key="2" value="-----"/>
        <add key="3" value="-----"/>
        <add key="4" value="-----"/>
        <add key="5" value="-----"/>
      </appSettings>
    </startup>
</configuration>
